@import "tailwindcss/base";

@import "tailwindcss/components";

@import "../components/shared/SideBar/NavBar/NavButton/navbutton.css";
@import "../components/shared/SideBar/NavBar/NavButton/navbuttonactive.css";

@import "tailwindcss/utilities";

/* Disable arrow buttons for number input elements */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
